@charset "utf - 8" ;
/* CSS Document */
body {
    background-color: #f6f5f5;
    margin:0px;
    padding:0px;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
}

section{
    width:100%;
    height:95vh;
    background-image:url("../images/bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

.active{
    font-weight:bold;
    color:#2d2a2a;
}

.text-container p:nth-child(1){
    font-family:calibri;
    font-weight:bold;
    color:#6d6d6d;
    font-size:22px;
}

.text-container p:nth-child(2){
    font-family:calibri;
    font-weight:bold;
    letter-spacing:1px;
    color:#1a1a1a;
    font-size:60px;
}

.text-container p:nth-child(3){
    font-family:myriad pro regular;
    color:#403e3e;
    font-size:30px;
    line-height:30px;
}

.text-container p{
    line-height:0px;
    margin:45px 0px 25px;
}

.text-container{
    position: absolute;
    left:13%;
    top:70%;
    transform:translate(-13%,-42%);
}

.text-container button{
    width:130px;
    height:42px;
    border-radius:10px;
    font-family:calibri;
    font-weight:bold;
    font-size:14px;
    outline:none;
    margin:0px 10px;
}

.button button{
    position: absolute;
    transform: translate(-50%,-50%);
    left:40%;
    top: 120%;
    background-color: antiquewhite;
}

.hire-btn{
    border: 2px solid #000000;
    padding: 10px 30px;
    color: #000000;
    text-decoration: none;
    transition: 0.6s ease;
}

.hire-btn:hover{
    background-color:#d19f68;
    color:#FFFFFF;
}

button:active{
    transform: scale(1.1);
}

.model{
    height:500px;
    position: absolute;
    bottom:-130px;
    left:50%;
    transform:transform(-70%);
    
}

.model1{
    height:500px;
    position: absolute;
    bottom:-130px;
    left:50%;
    transform:transform(-70%);
}

.model2{
    height:500px;
    position: absolute;
    bottom:-130px;
    left:50%;
    transform:transform(-70%);
}

.model3{
    height: 500px;
    position: absolute;
    bottom:-130px;
    left: 50%;
    transform:transform(-70%);
}

.about-container{
    width:80%;
    height:300px;
    background-color:#FFFFFF;
    border-radius:20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display:flex;
    margin:-7% auto 20px auto;
    position:relative; 
    background-image: url("../images/about.jpg");  
    justify-content: space-evenly;
    align-items: center;
}

.about-container img{
    height:250px;
}

.about-text{
    width:550px;
}

.about-text p:nth-child(1){
    color:#403e3e;
    font-family: myriad pro;
    font-weight:bold;
    font-size:23px;
    line-height:0px;
}

.about-text p:nth-child(2){
    color:#3e3d3d;
    font-size:13px;
    font-family:myriad pro;
    font-weight: bold;
    line-height:5px;
}

.about-text p:nth-child(3){
    color:#7e7d7d;
    font-family:calibri;
    font-size: 16px;
}
.about-text p:nth-child(4){
    color:#7e7d7d;
    font-family:calibri;
    font-size: 16px;
}

.about-text button{
    width:120px;
    height:40px;
    color:#FFFFFF;
    outline: none;
    border:none;
    font-family:calibri;
    background-color:#262525;
}

.box-1,.box-2,.box-3{
    width:300px;
    height:320px;
    background-repeat:no-repeat;
    background-size:cover;
    box-shadow:2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 100px;
}

.box-container{
    display: flex;
    justify-content:space-between;
}

.box-1{
    background-image: url("../images/services-1.png");
}

.box-2{
    background-image: url("../images/services-2.png");
}

.box-3{
    background-image: url("../images/services-3.png");
}

.box-1 span,
.box-2 span,
.box-3 span{
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:calibri;
    font-weight:bold;
}

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color: #FFFFFF;
    font-family:calibri;
    font-size:23px;
    line-height: 0px;
}

.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    text-align: center;
    font-family:calibri;
    width:230px;
    margin:0px 0px 20px 0px;
    color: #8f8f8f;
}

.box-1 button,
.box-2 button,
.box-3 button{
    width:100px;
    height:30px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 5px;
}

/* home.html */

body {
    font-family: 'Commissioner', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3eded;
}

* {
    box-sizing: border-box;
}

/***** HEADER - START *****/

.cover-page-bg-img {
    background-image: url("../images/adam-winger-AyesubMzQ64-unsplash.jpg");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media only screen and (min-width: 1800px) {
    .cover-page-bg-img {
        min-height: 400px; 
    }
}

.cover-page-bg-img-div {
    min-height: 300px;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.8); 
}

@media only screen and (min-width: 1800px) {
    .cover-page-bg-img-div {
        min-height: 400px; 
    }
}

.header-logo {
    float: left;;
    padding: 10px 10px 10px 40px;
    font-family:'Berkshire Swash', cursive;
    font-size: 32px;
}

@media only screen and (min-width: 1800px) {
    .header-logo {
        font-size: 40px;
    }
}

.header-logo p {
    color: #a17c54;
}

.header-logo span {
    color: #a17c54;
}

/* Top Navigation Bar - Start */

.section-topnav {
    position: relative;
    float: right;
    margin: 30px 0px 0px 0px;
    width: auto;
}

.topnav {
    overflow: hidden;
    background-color: none;
}

.topnav a {
    font-family: 'Commissioner', sans-serif;
    font-weight: bold;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 15px 5px 15px;
    text-decoration: none;
    font-size: 20px;
}

@media only screen and (min-width: 1800px) {
    .topnav a {
        padding: 14px 15px 5px 15px;
        font-size: 25px;
    }
}

.topnav a:hover {
    text-shadow: 1px 1px 2px #000000;
}

.topnav .active-a {
    text-shadow: 1px 1px 2px #000000;
}

#topnav .active-div {
    border-bottom: 1px solid gray;
}

.topnav .border-bottom {
    transition: 0.5s;
    padding: 5px 0 5px 0;
}

.topnav .border-bottom:hover {
    border-bottom: 1px solid gray;
}

.topnav button {
    position: relative;
    background-color: #a17c54;
    top: 10px;
    right: 20px;
    padding: 10px;
    width: 100px;
    color: white;
    border: 1px solid #7c5e3d;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    transition: 0.8s;
}

@media only screen and (min-width: 1800px) {
    .topnav button {
        top: 10px;
        right: 20px;
        padding: 15px;
        width: 140px;
        margin-bottom: 12px;
        font-size: 22px;
    }
}

.topnav button:hover {
    cursor: pointer;
    border: none;
    color: white;
    background-color: #7c5e3d;
}

/* Top Navigation Bar - End */

/* Navigation Bar Slide Down On Scroll - Start */

#navbar {
    background-color: white;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 10);
    margin-right: 20px;
    position: fixed;
    top: -100px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 9999;
}

#navbar a {
    float: left;
    display: block;
    color: #292a2c;
    text-align: center;
    padding: 28px 15px 25px 15px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.8s;
}

#navbar a:hover {
    color: #c2988a;
}

#navbar p {
    margin-left: 20px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 28px;
}

#navbar button {
    position: relative;
    background: none;
    top: 20px;
    right: 20px;
    padding: 10px;
    width: 100px;
    color:black;
    background-color: #d19f68;
    border: none;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    transition: 0.8s;
}

#navbar button:hover {
    cursor: pointer;
}

/* Navigation Bar Slide Down On Scroll - End */

.page-title {
    position: absolute;
    top: 120px;
    left: 200px;
}

@media only screen and (min-width: 1800px) {
    .page-title {
        top: 160px;
        left: 260px;
    }
}

.page-title p {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}

@media only screen and (min-width: 1800px) {
    .page-title p {
        font-size: 60px;
    }
}

/***** HEADER - END *****/


/***** FOOTER - START *****/

.section-footer {
    background-image: url("../images/grungy_background-wallpaper-1600x900.jpg");
    background-size: 100% 800px;
}

.section-footer-bg {
    width: 100%;
    height: 400px;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.8); 
}

.footer-row { 
    padding: 0 5px 0 5px;
}

.footer-row::after {
    content: "";
    clear: both;
    display: table;
}

.footer-column {
    float: left;
    width: 23%;
    padding: 10px;
    background: none;
}

.footer-column-logo {
    font-family: 'Berkshire Swash', cursive;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #d19f68;
}

.footer-column-logo:hover {
    cursor: pointer;
}

.footer-column-note {
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.footer-column-email {
    font-family: 'Commissioner', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #818e99;
    padding: 10px;
}

.footer-column-email:hover {
    cursor: pointer;
    color: #d19f68;
}

.footer-column-topic01 {
    font-size: 22px;
    color: white;
    text-align: center;
    position: relative;
    margin: 50px 10px 40px 10px;
}

.footer-column-nav p {
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 25px;
}

.footer-column-nav a {
    text-decoration: none;
    color: #818e99;
    transition: 0.4s;
}

.footer-column-nav a:hover {
    color: #d19f68;
}

.footer-column-topic02 {
    font-size: 22px;
    color: white;
    text-align: center;
    position: relative;
    margin: 50px 10px 40px 10px;
}

.footer-column-explore p {
    font-family: 'Commissioner', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 25px;
}

.footer-column-explore a {
    text-decoration: none;
    color: #818e99;
    transition: 0.4s;
}

.footer-column-explore a:hover {
    color: #d19f68;
}

.footer-column-topic03 {
    font-size: 22px;
    color: white;
    text-align: center;
    position: relative;
    margin: 50px 10px 40px 10px;
}

.footer-column-social-media p {
    font-family: 'Commissioner', sans-serif;

}

.footer-column-social-media a {
    text-decoration: none;
    color: #818e99;
}

.footer-column-social-media img {
    width: 25px;
    height: 25px;
    left: 58px;
    position: relative;
    float: left;
    margin: 0 10px 60px 10px;
}

.footer-column-topic03-yt {
    font-size: 20px;
    color: white;
    text-align: center;
    position: relative;
    margin: 50px 10px 0px 10px;
}

.footer-column-social-media-div-yt img {
    width: 50px;
    height: 50px;
    left: 100px;
    position: relative;
    float: left;
    margin: 0 10px 0px 10px;
}

/***** FOOTER - END *****/

p{
    font-size: large;
}

.pannel-container{
        font-family: Arial, Helvetica, sans-serif;
        font-weight:bold;
        color:#000000;
        font-size:22px;
    }
  
 